<% if comment %>
  <% if current_user && current_user.admin? %>
    <%= link_to '', [@post, comment], method: :delete, class: 'btn btn-danger glyphicon glyphicon-remove', data: { confirm: 'Are you sure?' }%>
  <% end %>
  <span class='comment-user' ><strong><%=comment.user.username %> <strong></span>
  <span class='comment-time'><%= time_ago_in_words(comment.created_at) + ' ago' %></span>
  <span class='rated' data-score="<%= comment.rating%>"></span>
  <p><%= comment.body %></p>
<% else %>
  <p>This post hasn't been reviewed yet</p>
<% end %>